<header class="bg-white">
  <nav class="mx-auto flex max-h-20 max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to '#', class:"-m-1.5 p-1.5" do %>
          <svg width="" height="60px" viewBox="0 0 350 100" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.9616 98.7441C2.59216 99.5544 3.49953 100 4.52349 100C6.04161 100 8.65933 99.1914 13.837 92.1974L39.3397 57.7425C45.7339 49.1045 48.3998 41.6702 46.4758 37.8508C45.6368 36.1854 44.0073 35.2674 41.8891 35.2674H33.5546L37.9095 13.4999C39.1455 7.3141 38.9569 3.34375 37.3364 1.36386C36.616 0.485228 35.5973 0 34.4709 0C31.8783 0 28.738 2.51169 24.8664 7.67876L13.4545 22.9157C10.7542 26.5214 2.13237 38.6627 4.54695 43.4849C5.12896 44.6493 6.27349 45.3191 7.68194 45.3191H12.7843L2.19149 86.6567C0.0537127 95.0017 1.03639 97.5511 1.9616 98.7441ZM5.67166 87.5495L16.8392 43.9698C16.9756 43.4327 16.859 42.8613 16.5175 42.423C16.1762 41.9846 15.6534 41.7277 15.0981 41.7277L7.70704 41.7187C7.38003 40.2439 9.45869 34.252 16.3325 25.0717L27.7444 9.83471C31.4327 4.90844 33.7072 3.59347 34.5086 3.59148C34.5248 3.60238 35.9603 4.92826 34.3883 12.7936L29.6041 36.7099C29.4981 37.2381 29.6365 37.786 29.976 38.2009C30.3172 38.6158 30.8276 38.8586 31.3647 38.8586H41.8891C42.9616 38.8586 43.1664 39.2682 43.2671 39.4657C44.1025 41.1222 42.9778 46.7887 36.4528 55.6028L10.9484 90.0612C7.17392 95.1599 5.28916 96.1624 4.71607 96.36C4.50731 95.7905 4.09772 93.694 5.67166 87.5495Z" fill="#010002"/>
          <path d="M81.4 67.432C79.224 67.432 77.336 67.016 75.736 66.184C74.136 65.352 72.904 64.168 72.04 62.632C71.176 61.096 70.744 59.288 70.744 57.208V50.392C70.744 48.28 71.176 46.472 72.04 44.968C72.904 43.432 74.136 42.248 75.736 41.416C77.336 40.584 79.224 40.168 81.4 40.168C83.576 40.168 85.464 40.584 87.064 41.416C88.664 42.248 89.896 43.432 90.76 44.968C91.624 46.472 92.056 48.28 92.056 50.392V57.208C92.056 59.288 91.624 61.096 90.76 62.632C89.896 64.168 88.664 65.352 87.064 66.184C85.464 67.016 83.576 67.432 81.4 67.432ZM81.4 62.872C83.16 62.872 84.52 62.392 85.48 61.432C86.44 60.44 86.92 59.032 86.92 57.208V50.392C86.92 48.536 86.44 47.128 85.48 46.168C84.52 45.208 83.16 44.728 81.4 44.728C79.672 44.728 78.312 45.208 77.32 46.168C76.36 47.128 75.88 48.536 75.88 50.392V57.208C75.88 59.032 76.36 60.44 77.32 61.432C78.312 62.392 79.672 62.872 81.4 62.872ZM96.4532 67V31.96H101.637V40.6L101.589 45.64H102.837L101.589 46.84C101.589 44.728 102.213 43.08 103.461 41.896C104.709 40.712 106.437 40.12 108.645 40.12C111.269 40.12 113.365 40.968 114.933 42.664C116.501 44.328 117.285 46.584 117.285 49.432V67H112.101V50.008C112.101 48.28 111.637 46.936 110.709 45.976C109.781 45.016 108.517 44.536 106.917 44.536C105.285 44.536 103.989 45.048 103.029 46.072C102.101 47.064 101.637 48.488 101.637 50.344V67H96.4532ZM146.096 67V40.6H150.416V43.96H151.376L150.656 44.968C150.656 43.496 151.056 42.328 151.856 41.464C152.656 40.568 153.728 40.12 155.072 40.12C156.512 40.12 157.616 40.68 158.384 41.8C159.184 42.92 159.584 44.456 159.584 46.408L158.432 43.96H160.256L159.488 44.968C159.488 43.496 159.888 42.328 160.688 41.464C161.52 40.568 162.624 40.12 164 40.12C165.632 40.12 166.912 40.744 167.84 41.992C168.768 43.208 169.232 44.84 169.232 46.888V67H164.624V47.032C164.624 46.04 164.4 45.272 163.952 44.728C163.536 44.184 162.928 43.912 162.128 43.912C161.328 43.912 160.704 44.184 160.256 44.728C159.84 45.24 159.632 45.992 159.632 46.984V67H155.744V47.032C155.744 46.008 155.52 45.24 155.072 44.728C154.624 44.184 153.984 43.912 153.152 43.912C152.352 43.912 151.744 44.184 151.328 44.728C150.944 45.24 150.752 45.992 150.752 46.984V67H146.096ZM176.941 75.64L180.733 65.464L170.893 40.6H176.605L182.125 55.48C182.349 56.12 182.573 56.888 182.797 57.784C183.021 58.68 183.213 59.416 183.373 59.992C183.501 59.416 183.677 58.68 183.901 57.784C184.125 56.888 184.349 56.12 184.573 55.48L189.757 40.6H195.277L182.413 75.64H176.941ZM233.015 67.432C231.127 67.432 229.463 67.128 228.023 66.52C226.615 65.912 225.495 65.08 224.663 64.024C223.863 62.936 223.399 61.656 223.271 60.184H228.455C228.583 61.048 229.047 61.752 229.847 62.296C230.647 62.808 231.703 63.064 233.015 63.064H235.079C236.647 63.064 237.831 62.744 238.631 62.104C239.431 61.464 239.831 60.616 239.831 59.56C239.831 58.536 239.463 57.736 238.727 57.16C238.023 56.552 236.967 56.152 235.559 55.96L232.151 55.432C229.335 54.984 227.255 54.184 225.911 53.032C224.599 51.848 223.943 50.104 223.943 47.8C223.943 45.368 224.727 43.496 226.295 42.184C227.895 40.84 230.247 40.168 233.351 40.168H235.175C237.927 40.168 240.119 40.808 241.751 42.088C243.415 43.336 244.359 45.016 244.583 47.128H239.399C239.271 46.36 238.839 45.736 238.103 45.256C237.399 44.776 236.423 44.536 235.175 44.536H233.351C231.847 44.536 230.743 44.824 230.039 45.4C229.367 45.944 229.031 46.76 229.031 47.848C229.031 48.808 229.335 49.528 229.943 50.008C230.551 50.488 231.495 50.824 232.775 51.016L236.279 51.592C239.255 52.008 241.431 52.84 242.807 54.088C244.215 55.304 244.919 57.08 244.919 59.416C244.919 61.944 244.087 63.912 242.423 65.32C240.791 66.728 238.343 67.432 235.079 67.432H233.015ZM256.709 67.48C253.957 67.48 251.781 66.776 250.181 65.368C248.613 63.928 247.829 61.976 247.829 59.512C247.829 57.016 248.661 55.064 250.325 53.656C252.021 52.216 254.341 51.496 257.285 51.496H264.629V49.048C264.629 47.608 264.181 46.488 263.285 45.688C262.389 44.888 261.125 44.488 259.493 44.488C258.053 44.488 256.853 44.808 255.893 45.448C254.933 46.056 254.373 46.872 254.213 47.896H249.125C249.413 45.528 250.501 43.64 252.389 42.232C254.309 40.824 256.725 40.12 259.637 40.12C262.773 40.12 265.253 40.92 267.077 42.52C268.901 44.088 269.813 46.232 269.813 48.952V67H264.773V62.152H263.909L264.773 61.192C264.773 63.112 264.037 64.648 262.565 65.8C261.093 66.92 259.141 67.48 256.709 67.48ZM258.245 63.496C260.101 63.496 261.621 63.032 262.805 62.104C264.021 61.144 264.629 59.928 264.629 58.456V55H257.381C256.037 55 254.965 55.368 254.165 56.104C253.397 56.84 253.013 57.848 253.013 59.128C253.013 60.472 253.477 61.544 254.405 62.344C255.333 63.112 256.613 63.496 258.245 63.496ZM277.858 75.64V71.176H285.97C287.314 71.176 288.306 70.856 288.946 70.216C289.618 69.576 289.954 68.632 289.954 67.384V64.744L290.05 59.848H288.946L290.002 58.888C290.002 60.904 289.362 62.488 288.082 63.64C286.834 64.792 285.138 65.368 282.994 65.368C280.274 65.368 278.13 64.472 276.562 62.68C274.994 60.888 274.21 58.472 274.21 55.432V50.056C274.21 47.016 274.994 44.6 276.562 42.808C278.13 41.016 280.274 40.12 282.994 40.12C285.138 40.12 286.834 40.712 288.082 41.896C289.362 43.048 290.002 44.632 290.002 46.648L288.946 45.64H290.002L289.954 40.6H295.09V67.48C295.09 70.008 294.29 71.992 292.69 73.432C291.09 74.904 288.866 75.64 286.018 75.64H277.858ZM284.674 60.904C286.306 60.904 287.586 60.408 288.514 59.416C289.474 58.392 289.954 56.984 289.954 55.192V50.344C289.954 48.552 289.474 47.16 288.514 46.168C287.586 45.144 286.306 44.632 284.674 44.632C282.978 44.632 281.666 45.128 280.738 46.12C279.842 47.08 279.394 48.488 279.394 50.344V55.192C279.394 57.016 279.842 58.424 280.738 59.416C281.666 60.408 282.978 60.904 284.674 60.904ZM300.687 67V40.6H305.679V45.64H306.927L305.343 48.76C305.343 45.912 305.967 43.768 307.215 42.328C308.463 40.856 310.319 40.12 312.783 40.12C315.599 40.12 317.823 41 319.455 42.76C321.119 44.488 321.951 46.872 321.951 49.912V51.688H316.623V50.344C316.623 48.456 316.143 47.016 315.183 46.024C314.255 45 312.943 44.488 311.247 44.488C309.551 44.488 308.223 45 307.263 46.024C306.335 47.048 305.871 48.488 305.871 50.344V67H300.687ZM332.972 67.48C330.22 67.48 328.044 66.776 326.444 65.368C324.876 63.928 324.092 61.976 324.092 59.512C324.092 57.016 324.924 55.064 326.588 53.656C328.284 52.216 330.604 51.496 333.548 51.496H340.892V49.048C340.892 47.608 340.444 46.488 339.548 45.688C338.652 44.888 337.388 44.488 335.756 44.488C334.316 44.488 333.116 44.808 332.156 45.448C331.196 46.056 330.636 46.872 330.476 47.896H325.388C325.676 45.528 326.764 43.64 328.652 42.232C330.572 40.824 332.988 40.12 335.9 40.12C339.036 40.12 341.516 40.92 343.34 42.52C345.164 44.088 346.076 46.232 346.076 48.952V67H341.036V62.152H340.172L341.036 61.192C341.036 63.112 340.3 64.648 338.828 65.8C337.356 66.92 335.404 67.48 332.972 67.48ZM334.508 63.496C336.364 63.496 337.884 63.032 339.068 62.104C340.284 61.144 340.892 59.928 340.892 58.456V55H333.644C332.3 55 331.228 55.368 330.428 56.104C329.66 56.84 329.276 57.848 329.276 59.128C329.276 60.472 329.74 61.544 330.668 62.344C331.596 63.112 332.876 63.496 334.508 63.496Z" fill="black"/>
          </svg>
      <% end %>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
        <%= link_to "how", "#", class: "text-sm/6 font-semibold text-gray-900" %>
        <%= link_to "about", "#", class: "text-sm/6 font-semibold text-gray-900" %>
        <%= link_to "docs", "#", class: "text-sm/6 font-semibold text-gray-900", data: {turbo_method: :delete} %>
        <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <% if Current.user%>

            <%= button_to "Log out", Current.session, method: :delete, class: "bg-reRed rounded-3xl re_button" %>
        <% else %>
       <%= link_to "Signup", sign_up_path, class: "bg-reRed rounded-3xl re_button" %>
       <%= link_to "Login", sign_in_path, class: "bg-reRed rounded-3xl re_button" %>
       <% end %>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Marketplace</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Company</a>
          </div>
          <div class="py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
